<% include ../partials/header %>

    <div class="container">
        <h1><%= camp.name %></h1>
        <div class="image">
            <img src="<%= camp.image %>" style="width: 100%" alt="imgage could not load">
        </div>

        <p><%= camp.description %></p>

        <a class="btn btn-success btn-sml" href="/campgrounds/<%= camp._id %>/comments/new">new comment</a>
        
        <% camp.comments.forEach(function (t) { %>
            <p><strong><%= t.author %></strong>----<%= t.text %></p>
        <% }); %>

        <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">DELETE</button>
        </form>
        <a href="/campgrounds">Back</a>

    </div>

<% include ../partials/footer %>